<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <header>
      <nav>
        <mat-list role="list">
          <div class="nav-top">
            <mat-list-item role="listitem"><a routerLink="/" routerLinkActive="router-link-active"><img src="../assets/healing_24px.png" alt="Logo"><h2>LEDOC</h2></a>
            </mat-list-item>
          </div>
          <div class="nav-center">
            <mat-list-item role="listitem"><a routerLink="/" routerLinkActive="router-link-active">
                <mat-icon>dvr</mat-icon>
              </a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/patients" routerLinkActive="router-link-active">
                <mat-icon>group</mat-icon>
              </a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/traitements" routerLinkActive="router-link-active">
                <mat-icon>drive_eta</mat-icon>
              </a></mat-list-item>
          </div>
          <div class="nav-bottom">
            <mat-list-item role="listitem"><a routerLink="/connexion" routerLinkActive="router-link-active">
                <mat-icon>settings</mat-icon>
              </a></mat-list-item>
          </div>
        </mat-list>
      </nav>
    </header>
  </mat-sidenav>
  <mat-sidenav-content class="container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  <footer></footer>
</mat-sidenav-container>